@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:rgb(83, 158, 201);
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("https://images.unsplash.com/photo-1439792675105-701e6a4ab6f0?q=80&w=1473&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;

    display:flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;
    width:100vw;
    height: 100vh;
}
main{
    width:400px;
    height:400px;
    backdrop-filter:blur(5px);
}
main>div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:100%;
}
main>h1{
    padding:10px 0;
    position: absolute;
    left:5%;
}
main>div{
    text-align: center;
    display: flex;

}
input{
    width:70px;
    background:transparent;
    outline:none;
    color:rgb(208, 210, 211);
    font-size: 19px;
    border:2px solid rgb(83, 158, 201);
    padding:0 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input::placeholder{
    color:rgb(83, 158, 201);
    font-size: 17px;
}

button{
    padding:10px 15px;
    font-size: 19px;
    background-color: transparent;
    outline:none;
    border:1px solid rgb(83, 158, 201);
    color:rgb(253, 252, 252);
    margin:20px 0;
    user-select: none;
}
button:active{
    opacity: 0.5;
}

body>h1{
    position: absolute;
    bottom:10px;
    right:10px;
    color:white;
    font-size: 12px;
    font-weight: 400;
}

@media only screen and (max-width:456px) {
    main{
        width:90vw;
    }
    main>h1{
        font-size: 8vw;
        left:0;
        top:6%;
    }
}